# This is an email address
USERNAME={{ noip_user_vault }}

PASSWORD={{ noip_password_vault }}

# Your hostname, group name, or a comma-delimited list of a mix of them.
DOMAINS={{ host }}

# Examples: 5 m, 5 h, 5 d. Minimum is 5 minutes.
INTERVAL={{ noip_update_interval_vault}}
